@import "../../../color-variables.scss";

.app-footer {
  background-image: url("../../../assets/imgs/footerBackground.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  padding: 2rem;

  .f-img {
    margin-top: 2rem;
  }

  .f-nav {
    display: flex;
    text-align: center;

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: row;

      .nav-link {
        cursor: pointer;
        margin: 0 10px;
        color: #ffff;
        font-size: 1.1rem;
        font-weight: 400;
      }

      .nav-link:hover {
        color: $primary-color;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .f-terms {
    display: flex;

    .terms-link {
      color: #ffff;
      text-decoration: none;
      font-weight: 300;
      margin: 0 1rem;
    }

    .terms-link:hover {
      color: $primary-color;
      transition: all 0.3s ease-in-out;
    }
  }

  .f-social {
    .social-icon {
      color: white;
      width: 45px;
      height: auto;
      margin: 0 10px;
    }

    .social-icon:hover {
      color: $primary-color;
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
    }
  }

}

.copyright {
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .app-footer {
    padding: 1rem;

    .f-nav {
      .nav-list {
        flex-direction: column;
        gap: 0.8rem;
      }
    }

    .f-terms {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
