@import "../../../color-variables.scss";

.app-footer{
  background: rgb(84,133,166);
  background: linear-gradient(360deg, rgba(84,133,166,1) 40%, rgba(255,255,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 10px;

  .f-img{
    margin-top: 2rem;
  }

  .f-nav{
    display: flex;

    .nav-list{
      list-style: none;
      display: flex;
      flex-direction: row;

      .nav-link{
        cursor: pointer;
        margin: 0 10px;
        color: #ffff;
        font-size: 1.1rem;
        font-weight: 400;
      }

      .nav-link:hover{
        color: $primary-color;
      }
    }
  }

  .f-terms{

    .terms-link{
      color: #ffff;
      text-decoration: none;
      font-weight: 300;
      margin: 0 1rem;
    }
  }

  .f-social{
    .social-icon{
      color: white;
      width: 55px;
      height: auto;
      margin: 0 10px;
    }

    .social-icon:hover{
      color: #c0c0c0;
    }
  }

}

.copyright{
  padding: 0.8rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: $primary-color;
  background-color: white;
}
