<header class="app-header" (click)="closeMobileMenu()">
  <nav class="menu">
    <div class="menu-desktop">
      <ul class="desktop-links left">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
        </li>
        <li><a routerLink="/empresa" routerLinkActive="active">EMPRESA</a></li>
      </ul>

      <img
        routerLink="/"
        ngSrc="assets/imgs/LogoPlacDestakText.png"
        width="150"
        height="100"
        class="logo"
        alt="Logo Placdestak"
      />

      <ul class="desktop-links right">
        <li>
          <a routerLink="/orcamentos" routerLinkActive="active">ORÇAMENTOS</a>
        </li>
        <li><a routerLink="/contacto" routerLinkActive="active">CONTATO</a></li>
      </ul>
    </div>

    <div class="menu-mobile">
      <img
        routerLink="/"
        ngSrc="assets/imgs/LogoPlacDestakText.png"
        width="120"
        height="80"
        class="logo-mobile"
        alt="Logo Placdestak"
      />

      <button
        class="menu-toggle"
        (click)="toggleMenu()"
        aria-label="Abrir menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 50 50"
        >
          <g
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
          >
            <path stroke="#295c7e" d="M6.25 15h37.5" />
            <path stroke="#295c7e" d="M6.25 25h37.5" />
            <path stroke="#295c7e" d="M6.25 35h37.5" />
          </g>
        </svg>
      </button>

      <div
        class="mobile-menu-overlay"
        [class.show]="isMenuOpen"
        (click)="closeMenu()"
      ></div>

      <ul class="mobile-links" [class.open]="isMenuOpen">
        <li class="close-menu-header">
          <button (click)="closeMenu()">X</button>
        </li>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
            >HOME</a
          >
        </li>
        <li>
          <a
            routerLink="/empresa"
            routerLinkActive="active"
            (click)="closeMenu()"
            >EMPRESA</a
          >
        </li>
        <li>
          <a
            routerLink="/orcamentos"
            routerLinkActive="active"
            (click)="closeMenu()"
            >ORÇAMENTOS</a
          >
        </li>
        <li>
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            (click)="closeMenu()"
            >CONTACTO</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
