@import "../../../color-variables.scss";

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  .contact {
    padding: 2rem;

    h2 {
      margin: 15px 0px;
      font-size: 2rem;
      text-align: center;
      border-bottom: 3px solid $primary-color;
    }

    .address {
      padding: 1rem;

      h3 {
        color: $secondary-color;
        margin: 10px 0;
      }

      p {
        margin: 5px 0;
      }
    }

    .call-button {
      cursor: pointer;
      color: $primary-color;
      padding: 1.5rem;
      border: none;
      border-radius: 15px;
    }

    .call-button:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}
