<app-header />
<section class="budget-section">
  <img src="" alt="" />
  <h2>Pedido de Orçamento</h2>

  <div class="content">
    <div class="container">
      <h3>Solicite aqui o seu pedido:</h3>
      <form>
        <div class="form-group">
          <label for="name">Nome: </label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Digite seu nome"
            required
          />
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Digite seu nome"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone">Telefone: </label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Digite seu nome"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">Mensagem: </label>
          <textarea
            class="form-control"
            rows="3"
            name="message"
            id="message"
          ></textarea>
        </div>
        <input type="submit" class="send-btn" value="Enviar" />
      </form>
    </div>
    <div class="image">
      <img src="assets/imgs/serviceTest.jpg" alt="" />
    </div>
  </div>
</section>
<app-footer />
