<app-header />
<section class="company-section">
  <img src="assets/imgs/bannerPlacdestak.webp" alt="" />
  <div class="company">
    <h2>Quem Somos?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus,
      impedit ipsa perferendis magni aspernatur beatae quo ducimus repudiandae,
      incidunt possimus, asperiores ipsam voluptatibus minus optio vitae error
      porro? Autem, quia. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Alias, omnis nihil fugit recusandae culpa animi accusantium
      consequatur quas laborum ex labore eveniet maiores harum dolorum
      explicabo, perspiciatis laudantium. Pariatur, ad. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Recusandae consequatur quibusdam neque
      labore magnam aspernatur, iste, exercitationem, laborum quod ad fugiat?
      Cum illo saepe dicta facilis voluptatum, iusto omnis blanditiis. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Ea aut voluptatum
      nulla nemo optio voluptatem asperiores ab sunt minus eaque sint laborum,
      veniam tenetur. Perferendis quod officia error suscipit incidunt! Lorem,
      ipsum dolor sit amet consectetur adipisicing elit. Sequi quibusdam
      temporibus possimus iure ex architecto laborum quisquam, eligendi quaerat
      illum deserunt facere error! Similique sunt, maiores dolorum quasi aliquid
      sint.
    </p>
  </div>
  <img src="assets/imgs/bannerPlacdestak.webp" alt="" />
  <div class="company">
    <h2>O que fazemos?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis unde
      libero expedita molestias, eligendi veniam? Sequi nihil totam, pariatur
      quaerat laudantium deserunt eaque in nam rerum ipsam praesentium aliquid
      cumque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla
      nihil aspernatur maxime at praesentium delectus repellat aperiam corporis
      soluta ullam culpa itaque assumenda quaerat inventore velit reiciendis,
      sequi aliquid doloremque? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Soluta sunt voluptates minima temporibus mollitia nisi
      repudiandae ut qui saepe voluptas odit, dolorum quas nesciunt architecto
      quod. Placeat excepturi expedita beatae?Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Fugiat quam debitis veniam porro tempora,
      maxime accusantium officia. Omnis, expedita odit minima, accusantium
      nesciunt molestias facilis libero aut vero, aperiam repudiandae.
    </p>
  </div>
</section>
<app-footer />
