@import "../../../color-variables.scss";

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }

  span {
    padding: 0 1rem;
    background-color: $primary-color;
    color: #ffff;
    font-size: 2rem;
    font-weight: 700;
  }

  h1 {
    width: 600px;
    font-size: 3rem;
    margin-top: 10px;
    color: #ffff;
  }

  img{
    width: 100%;
    height: auto;
    display: block;
  }
}

.features-section {
  display: flex;
  height: 150px;
  justify-content: center;
  background-color: #E9E9E9;
  padding: 1rem;

  .features {
    display: flex;
    justify-content: space-between;
  }

  .feature-item {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
    padding: 1rem;
    border-radius: 20px;
    background: #f0f0f0;
    margin: 0 5px;

    .feature-icon {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }

    .feature-text {
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      p {
        font-size: 1rem;
        font-weight: 200;
      }
    }
  }

  .feature-item:hover{
    background: #ffff;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 50px;

  .about-info {
    text-align: left;
    width: 600px;
    margin-right: 100px;

    h2 {
      color: $primary-color;
      font-size: 2.5rem;
      margin-bottom: 15px;
    }

    p {
      color: $primary-text;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
}

.services-section{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  .services-text{
    h2{
      font-weight: 500;
      font-size: 1.2rem;
      color: $secondary-color;
    }

    h3{
      width: 900px;
      font-weight: 700;
      font-size: 2.5rem;
      color: $primary-color;
    }
  }

  .services{
    display: flex;
    flex-direction: row;
    gap: 3rem;

    .services-item{
      width: 400px;
      height: 550px;
      border-radius: 30px;
      background: #f0f0f0;

      h3{
        font-size: 1.3rem;
      }

      p{
        font-weight: 300;
        text-align: justify;
      }

      img{
        width: 100%;
      }
    }
  }
}

@media (min-width: 1080px) {
  .main-section {
    flex-direction: row;
  }
}
