<app-header />
<main>
  <section class="main-section">
    <div class="headline">
      <span>SUSTENTABILIDADE</span>
      <h1>Construção em Aço Leve - LSF
        (Light Steel Framing)</h1>
    </div>
    <img src="assets/imgs/bannerPlacdestak.webp" alt="Banner">
  </section>

  <section class="features-section">
    <div class="features">
      @for (feature of features; track feature) {
        <div class="feature-item">
          <img [src]="feature.icon" class="feature-icon"/>
          <div class="feature-text">
            <h2>{{ feature.title }}</h2>
            <p>{{ feature.text }}</p>
          </div>
        </div>
      }
    </div>
  </section>


  <section class="about-section">
    <div class="about-info">
      <h2>SOBRE A EMPRESA</h2>
      <p>
        A PlacDestak é uma empresa dedicada à Construção em Aço Leve - LSF (Light Steel Framing) e aplicação de tetos falsos e divisórias em Gesso Cartonado (Pladur). Nossa história começou em 2008, quando as atividades foram iniciadas, e posteriormente, em 2019, a empresa foi oficialmente fundada com o objetivo de melhor atender aos clientes. Ao longo dos anos, a PlacDestak tem se empenhado em oferecer soluções sustentáveis, eficientes e inovadoras adaptadas às necessidades de cada projeto. Trabalhamos diariamente para lhe prestar um serviço personalizado de qualidade e excelência, combinando conhecimento técnico e matérias primas ecoeficientes. Atuamos em todo o território nacional.
      </p>
    </div>
    <img ngSrc="assets/imgs/aboutImage.png" width="500" height="500">
  </section>
</main>
<app-footer />
