@import "../../../color-variables.scss";

.headline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .headline {
    position: absolute;
    text-align: center;

    span {
      padding: 0 1rem;
      background-color: $primary-color;
      color: #ffff;
      font-size: 2rem;
      font-weight: 700;
    }

    h1 {
      width: 600px;
      font-size: 3rem;
      margin-top: 10px;
      color: #ffff;
    }
  }


  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.features-section {
  display: flex;
  height: 150px;
  justify-content: center;
  background-color: #E9E9E9;
  padding: 1rem;

  .features {
    display: flex;
    justify-content: space-between;
  }

  .feature-item {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
    padding: 1rem;
    border-radius: 20px;
    background: #f0f0f0;
    margin: 0 5px;

    .feature-icon {
      width: 40px;
      height: 40px;
      margin: 0 10px;
    }

    .feature-text {
      h2 {
        font-size: 1.3rem;
        font-weight: 500;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
      }
    }
  }

  .feature-item:hover {
    background: #ffff;
  }
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 50px;

  .about-info {
    text-align: left;
    width: 600px;
    margin-right: 100px;

    h2 {
      color: $primary-color;
      font-size: 2.8rem;
      margin-bottom: 15px;
    }

    p {
      color: $primary-text;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

.services-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  .services-text {
    h2 {
      font-weight: 500;
      font-size: 1.2rem;
      color: $secondary-color;
    }

    h3 {
      width: 900px;
      font-weight: 700;
      font-size: 2.8rem;
      color: $primary-color;
    }
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    .services-item {
      width: 400px;
      height: 750px;
      border-radius: 30px;
      background: #f0f0f0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        font-weight: 300;
        text-align: justify;
      }

      ul {
        text-align: left;

        li {
          margin: 5px;
        }
      }

      img {
        width: 100%;
      }

    }
  }
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .portfolio-text {
    margin: 2rem;

    h2 {
      font-weight: 500;
      font-size: 1.2rem;
      color: $secondary-color;
    }

    h3 {
      width: 900px;
      font-weight: 700;
      font-size: 2.5rem;
      color: $primary-color;
    }
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    .portfolio-item {
      width: 400px;
      margin: 15px 0;
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
  .headline-section {
    .headline{
      span{
        font-size: 1.5rem;
      }

      h1{
        width: 100%;
        font-size: 2.5rem;
      }
    }
  }

  .features-section{
    display: none;
  }

  .about-section {
    justify-content: center;
    flex-direction: column;

    .about-info {
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 0;

      h2{
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        text-align: justify;
      }
    }
  }

  .services-section {
    .services-text {
      h2 {
        font-size: 1rem;
      }

      h3 {
        width: 100%;
        font-size: 2rem;
      }
    }

    .services {
      flex-direction: column;
    }
  }
}

@media(max-width: 1024px) {
  .main-section {
    flex-direction: row;
  }

  .about-section {
    flex-direction: column;
    text-align: justify;

  }

  .services-section {
    .services {
      flex-direction: column;
    }
  }
}
